<h2>Plot: x-y values</h2>
<p> You will now see a plot of the values that you have just typed in. On the x-axis the arrival times that you entered will be plotted. The frequency will be plotted on the y-axis. Remember that high-frequency pulses should arrive earlier than the lower-frequency pulses. Check that this is true for your plot. If you study plasma physics in detail you will be able to derive an equation that should explain your observations:

<p><code>t(s) = 4149 D [cm<sup>-3</sup> pc]/(f [MHz]<sup>2</sup>)</code>

<p>where t is the arrival time in seconds and f is the observing frequency in MHz. D is known as the dispersion measure and is a measure of how many electrons are between us and the pulsar. So, if we measure the dispersion measure then we know how many electrons are between us and the pulsar. If we use a simple model estimating the density of electrons in our galaxy we can use our measurement to obtain a distance to the pulsar.

<p>So how do we use your observations to determine "D"? Do you know the equation of a straight line, y = mx + b? In this equation "m" is the slope (sometimes known as the "gradient") of the line and "b" is the intercept. In the equation above we can replace "t"  by "y" and 4149/f<sup>2</sup> by "x". This means that the equation now reads

<p><code>y = Dx</code>

<p>this looks like the equation of a straight line with no intercept and with a slope of D. On the plot you can change the x and y axes. Change the x-axis to 4149/f/f and the y-axis to t. Then click plot again. You should see a straight line. You can click on Fit Line to get the computer to fit a straight line through the points. Does the line go through all your points? If not, why not?

<p>If you click on "Compare DM" the computer will compare the dispersion measure that you have just measured (from the slope of the fitted line) with the value that professional astronomers have determined. Check whether you obtained a similar value? Is your value identical? Finally, click on "Display Pulsar Location".

<p><a href="[@NEXT_PAGE_LINK]">Continue</a>

<br>
<br>
<br>

