<h2>Plot: Frequency vs Time</h2>
<p>Recall from the training section of the module that the received signal from the pulsar is divided into eight different frequency bands.  You determined the times that a given pulse from PSR J0437-4715 arrived at various frequencies using an interactive plot. You must now do this again for your pulsar. <a href="[@NEXT_PAGE_LINK]">If you think that you can do this easily then jump ahead to the next step by clicking here</a>.

If you're having trouble measuring the arrival times then it may be because the pulse is too weak or is affected by interference.  Here are some examples.

<p>Below is an example plot for PSR J0437-4715 which you used in the training part of the module:

<center><img src="../images/plot_good_pgplot.png" width=620 height=430/></center>

If your plot looks similar to this one then measuring the arrival times should be easy. Just identify exactly when each pulse arrived.  However, if your plot looks like this:
<p><center><img src="../images/plot_weak_pgplot.png" width=620 height=430/></center>

<p>then the pulsar that you've chosen is too weak to study. Please choose a different pulsar by clicking <a href="http://pulseatparkes.atnf.csiro.au/distance/2/select_observation.php"/> here </a>.

<p>If your plot looks like this:

<p><center><img src="../images/plot_rfi_pgplot.png" width=620 height=430/></center>
<p>then your observations were significantly affected by radio frequency interference (note that all the frequencies arrived at the same time because the interference occurred on Earth and therefore was not affected by the electrons between the Earth and the pulsar). You may still be able to determine a distance to this pulsar, but it will not be easy. Perhaps you should try an easier pulsar first. 

<p>Finally, if your pulsar looks like this:
<!-- <p><img src="images/plot_dm_wrap.jpg" alt="a wrapped plot"/> -->
<p><center><img src="../images/plot_dm_wrap_pgplot.png" width=620 height=430"/></center>
<p>then the radio pulse has travelled past so many electrons that a huge delay has been added to the lowest frequencies.  How would you deal with a case like this?  

<p><a href="[@NEXT_PAGE_LINK]">Plot my data</a>
<br>
<br>
<br>

