<div class="left">
This is a picture of our Galaxy from above. The black cross near the bottom of the plot indicates the position of the centre of our Galaxy.  The circle with a dot inside shows the position of the Earth. The dashed lines indicate different spiral arms in our Galaxy. The red cross indicates the position of your pulsar using your dispersion measure determination.  Which spiral arm is your pulsar in? 
  <p><center><img src="[@PULSAR_LOCATION_IMAGE]"/></center>

<p>Your initial guess for the distance to your pulsar (PSR [@PSR]) was [@GUESS] light years. The actual distance that you have now measured is [@DISTANCE_IN_LY] light years.  Were you close to, or far away from, the actual value?

<p>
You have now completed the module and measured the distance to a pulsar. <a href="http://pulseatparkes.atnf.csiro.au/distance_final/2/">Clicking here will allow you to determine the distance to another pulsar</a>. If you wish to redo the training exercise <a href="http://pulseatparkes.atnf.csiro.au/distance_final/1/">then click here</a>.  You could also try and compare your distance to this pulsar with the distance obtained by professional astronomers using the <a href="http://www.atnf.csiro.au/research/pulsar/psrcat/">ATNF pulsar catalogue</a>.

<br>
<br>
<br>

</div>
<div class="right">
  <table>
    <tr><td>Distance (ly)</td><td>[@DISTANCE_IN_LY]</td></tr>
  </table>

  <div class="widget"></div>

  <form action="" method="POST">
  <table cellspacing=3>
    <tr><td align=center>Pulsar</td><td align=center>Centred</td></tr>
    [@PROCESSED_TABLE_CONTENT]
  </table>

  <div class="widget"></div>

  <table>
    <tr><td><input name="email_address" value="(email address)" autocomplete="off"></td><td><input type="submit" name="email_plot" value="Email plot"></td></tr>
  </table>
</form>

</div>
