<p>Welcome to the start section of the PULSE@Parkes module. You should only do this section if you have completed and understood the <a href="http://pulseatparkes.atnf.csiro.au/distance_final/1/">training part of the module</a>.  Here you will be able to use your, or archival, data to measure the distances to many pulsars. 
<p>
Below is a list of groups that have taken part in the PULSE@Parkes project.  Select a school by clicking on the circle next to the corresponding observation date. After selecting a school you will be able to process one of the observations that was obtained during their PULSE@Parkes session.
<p>
<form action="" method="POST">
  <table class="gridtable">
    <tr><th>School</th><th>Date</th></tr>
    [@TABLE_CONTENTS]
  </table>
</form>

<br>
<br>
<br>
