<br>
<br>

<p>On this page you will see all the observations that were carried out during this observing session.  In this part of the module you can measure the distance to any on these pulsars.  The clearer the pulse, the easier it will be to measure the distance. Choose which pulsar observation you want to process by clicking on the thumbnail image.<p>

<p>[@PROCESSED_PULSARS_TEXT]

<form action="" method="POST">
  <center>
  <table>
    <tr><td align=center><b>Pulsar</b></td><td><b>Observation #</b></td><td align=center><b>Profile</b></td>
      <td align=center><b>Pulsar</b></td><td><b>Observation #</b></td><td align=center><b>Profile</b></td></tr>

    [@TABLE_CONTENTS]

  </table>
  </center>
</form>

<br>
<br>
<br>
