<div style="clear: both;"> </div>
<div id="footer">
    <div id="footer-nav">
        <ul>
            <li><a href="http://pulseatparkes.atnf.csiro.au/distance/glossary.html" style="color:#FFFFFF;" target="_blank">Glossary</a></li> 
            <li>|</li> 
            <li><a href="http://pulseatparkes.atnf.csiro.au/distance/" style="color:#FFFFFF;">Module 1</a></li> 
            <li>|</li> 
            <li><a href="http://outreach.atnf.csiro.au/education/pulseatparkes/student_data_archive.html" target="_blank" style="color:#FFFFFF;">Student Data Archive</a></li> 
            <li>|</li> 
            <li><a href="http://outreach.atnf.csiro.au/education/pulseatparkes/" target="_blank" style="color:#FFFFFF;">PULSE@Parkes</a></li>
            <li>|</li> 
            <li><a href="http://www.csiro.au" target="_blank" style="color:#FFFFFF;">CSIRO</a></li> 
        </ul>
</div>
</div>
</div>
</body>
</html>
