

<p> So, you think that the pulsar is [@GUESS_ENTERED] light years away from Earth? To see how close your estimate was, you will now find out how you can actually measure the distance.
<p>
The observation that we're going to study first is of a pulsar named PSR J0437-4715 and was carried out by students at the <a href="http://www.vssec.vic.edu.au/" target="_blank">Victorian Space Science Education Centre</a>, Australia on the 12th August 2009.  They observed this pulsar using the standard <a href="http://outreach.atnf.csiro.au/education/pulseatparkes">PULSE@Parkes system</a> in which radio waves from the pulsar were recorded that have frequencies between 1241 and 1497 MHz.  Like most pulsars, PSR J0437-4715 continuously emits a beam of broad-band radiation.  Every time the star rotates we get a flash of the radio emission as it passes our line-of-sight to the pulsar.  We call each flash of light a "pulse" from the pulsar.
<p>
<center>
<img src="../images/lightsmall-optimised.gif">
<br><font color=green>Image credit: Michael Kramer (MPIfR, Bonn)</font>
</center><p>

Each pulse is comprised of radio waves with many different wavelengths. All these radio waves leave the pulsar at the same time, but travel through space at different speeds. The part of the pulse comprised of radio waves with frequencies close to 1.2 GHz (the lowest frequency signals received as part of the PULSE@Parkes project) will arrive at Earth later than the same pulse observed at a higher frequency (the highest frequency signals received are at 1.5 GHz). This "dispersion" happens because space is not completely empty; the interstellar medium consists of charged particles such as electrons.

<p>
<center><img src="../images/dispersion.jpg"></center>
<p>

<p>In the plot above we have separated the different frequency components of the pulse.  You can see that after their journey through the interstellar medium the high frequency part of the pulse arrived at the telescope before the lower frequencies. In the figure below you can see the pulses from PSR J0437-4715 that was obtained from the PULSE@Parkes project. Instead of plotting the different frequencies above each other, this time we plot them next to each other, but use different colours to represent different radio frequencies.  You can determine when the pulse arrived for a particular observing frequency by looking at the time on the time axis corresponding to the peak of the corresponding pulse. Check that the highest frequency pulse arrived  before the lowest frequency pulse, as expected. 

<p><center><img src="../images/plot_good_pgplot.png" width=620 height= 430 alt="an ideal plot"/></center>

<p>Now you'll be asked to determine accurately the arrival times of each of the pulses.  We will use this information later to determine how far away the pulsar is.

<p><a href="[@NEXT_PAGE_LINK]">Continue</a>

<br>
<br>
<br>
