<form action="" method="POST" id="fov_0" style="display: none">
  <input type="text" name="fov_0"/> 
</form>   

<form action="" method="POST" id="fov_40" style="display: none">
  <input type="text" name="fov_40"/>
</form>   

<form action="" method="POST" id="fov_80" style="display: none">
  <input type="text" name="fov_80"/>
</form>   

<form action="" method="POST" id="aitoff" style="display: none">
  <input type="text" name="aitoff"/>
</form>   

<form action="" method="POST" id="rectangular" style="display: none">
  <input type="text" name="rectangular"/>
</form>   

<form action="" method="POST" id="names_on" style="display: none">
  <input type="text" name="names_on"/>
</form>   

<form action="" method="POST" id="names_off" style="display: none">
  <input type="text" name="names_off"/>
</form>   

<form action="" method="POST" id="arm_names_off" style="display: none">
  <input type="text" name="arm_names_off"/>
</form>   

<form action="" method="POST" id="arm_names_on" style="display: none">
  <input type="text" name="arm_names_on"/>
</form>   

As no spacecraft from Earth has ever travelled out of our Galaxy it is impossible for us to take a photo of our Galaxy from the outside.  However, astronomers can see many other galaxies in the Universe and have evidence to show that our Galaxy is a spiral galaxy. Even though we cannot photograph our own Galaxy, we can make a diagram of its structure. Such a diagram is given below which represents looking down on our Galaxy from above.   The yellow circle  shows the position of our Solar System. The blue circle indicates the position of PSR J0437-4715 using your dispersion measure determination.  Note how close PSR J0437-4715 is to our Earth when you consider distances on the scale of our Galaxy!  Some of the other pulsars that you will study are much further away.


<center><img src="[@PULSAR_LOCATION_IMAGE]" width=50%/></center>

<form action="" method="POST">

  <table class="gridtable">
    <tr><th>Label spiral arms</th></tr>
    <tr><td><input type=radio name="arm_names_on" onClick="javascript: document.getElementById('arm_names_on').submit();" [@ARM_NAMES_ON_CHECKED]/>Yes <input type=radio name="arm_names_off" onClick="javascript: document.getElementById('arm_names_off').submit();" [@ARM_NAMES_OFF_CHECKED]/>No</td></tr>
  </table>

  <p>Your initial guess for the distance to this pulsar was [@GUESS] light years. The actual distance that you have now measured is <b>[@DISTANCE_IN_LY] light years</b>.  Were you close to, or far away from, the actual value?
<p>

<a name="constellation_plot"></a>
 
  <table>
    <tr><td width=50%>
        <p><center><img src="[@CONST_IMAGE]"/ width=100%></center>
        </td><td>

        <p>The figure on the left shows where your pulsar  (red star symbol) is in the sky.  Stars are indicated as white dots (brighter stars have larger dots) and blue lines indicate the constellations.  You can see more of the sky by increasing your "field of view".  Try clicking on "80" and "All sky" below.  If the figure is getting too crowded you can switch off displaying the constellation names using the options below. Note that PSR J0437-4715 is near the constellation of Caelum and Dorado.  Do you know these constellations? Could you find them in the night sky?
        <p>
        The sky is curved and therefore it is difficult to give an accurate map of the sky using a flat, two-dimensional image.  Recall that the best way to represent the Earth is to use a globe.  In order to make a map of the Earth various projections are used. Two projections (a rectangular projection and an Aitoff projection) are provided below for you to make your maps.

        <p>
        <center>

          <table class="gridtable">
            <tr><th>Field of View (degrees)</th> <th>Constellation Names</th><th>Projection</th></tr>
            <td>
                <input type=radio name=fov_0 onClick="javascript: document.getElementById('fov_0').submit();" [@F0V_0_CHECKED]/>All sky
                <input type=radio name=fov_80 onClick="javascript: document.getElementById('fov_80').submit();" [@F0V_80_CHECKED]/>80
                <input type=radio name=fov_40 onClick="javascript: document.getElementById('fov_40').submit();" [@F0V_40_CHECKED]/>40
              </td>
              <td>
                  <input type=radio name=names_on onClick="javascript: document.getElementById('names_on').submit();" [@NAMES_ON_CHECKED]/>On
                  <input type=radio name=names_off onClick="javascript: document.getElementById('names_off').submit();" [@NAMES_OFF_CHECKED]/>Off
              </td>
              <td>
                  <input type=radio name=rectangular names_on onClick="javascript: document.getElementById('rectangular').submit();" [@RECTANGULAR_CHECKED]/>Rectangular
                  <input type=radio name=aitoff onClick="javascript: document.getElementById('aitoff').submit();" [@AITOFF_CHECKED]/>Aitoff
              </td>
            </tr>
          </table>
          <p>

        </td>
      </tr>
    </table>

  </form>

    <p><a href="http://pulseatparkes.atnf.csiro.au/distance/2/"/> You have now completed the training part of module 1. Click here to continue to Part 2 where you can use your (or archival) observations of any pulsar.</a>


    <br>
    <br>
    <br>

