<h2>Introduction</h2>
<p>You are about to use real observations from the Parkes radio telescope in order to determine how far two pulsars are from Earth.  The first pulsar has been chosen for you and it should be relatively straightforward to measure its distance.  For the second pulsar you will be able to choose your own observation or a previous observation that has been archived in our database.  To begin with, we're going to get you to estimate the distance to the first pulsar.  At the end of the module you'll be able to compare your estimate with your measurement.

<p>As most astronomical objects are so far away from Earth, astronomers do not measure their distances in units like metres or kilometres. Instead, they often measure distances in "light years". A light year is simply the distance that light travels in one year. As light travels about 300,000 km per second in a vacuum, the total distance light travels in a year is approximately: 3.0 x 10<sup>8</sup> x 60 x 60 x 24 x 365 &asymp; 9.46 x 10<sup>15</sup> m or almost 10 million million km.

<p>The figure below may help you estimate the distance to your pulsar. 
<p><center><img src="../images/scale3.jpg">
<br><font color="green">Image links: <a href="http://www.nasa.gov/multimedia/imagegallery/image_feature_246.html">Moon,</a> <a href="http://www.nasa.gov/multimedia/imagegallery/image_feature_21.html">Sun,</a> <a href="http://www.solstation.com/stars/oort.htm">Comet,</a> <a href="http://webschool.wash.k12.ut.us/science/sequential/observing_universe.html">Proxima Centauri,</a> <a href="http://apod.nasa.gov/apod/ap071118.html">Pleiades,</a> <a href="http://ircamera.as.arizona.edu/NatSci102/NatSci102/lectures/milkywayparts.htm">Galactic centre,</a> <a href="http://www.cv.nrao.edu/course/astr534/Brightness.html">Andromeda,</a> <a href="http://casa.colorado.edu/~ajsh/astr1120_05/gal.html">Virgo cluster</a> </font></center>
<p>
The distance from the Earth to the moon is only 0.00000004 light years, the distance from the Earth to the Sun is 0.00002 light years and the distance from the Earth to the edge of the Solar System is 0.0006 light years. The distance to the nearest star outside of our Solar System (Proxima Centauri) is 4.2 light years, the distance to the centre of our galaxy is 25000 light years and the distance to a relatively close by galaxy (the Andromeda galaxy) is 2.5 million light years! 

  <form action="" method="POST">
    <p>Type in your estimate for the distance to the pulsar into the box below and click on Submit.  
    <a name="error"></a>
    [@DISTANCE_ERROR_MESSAGE]
    <p><input type=text size=5 name=pulsar_distance value="[@GUESS_ENTERED]" style="text-align:right" autocomplete="off"/> light years <input type=submit name='distance_guess' value="Submit"/>
  </form>
<br>
<br>
<br>
