<div class="left">
<h2>Our Galaxy</h2>

<p>You have now measured the dispersion measure of your pulsar. This gives a measure of how many electrons are between us and the pulsar. Using a model of the electrons in our Galaxy allows us to determine the distance to the pulsar.

<p>On the next page you will see a plot of our Galaxy from above. The black cross indicates the centre of our Galaxy. The circle with a dot inside shows the position of our Solar System. The red cross indicates the position of the pulsar that you have just studied. The dashed lines indicate different spiral arms in our Galaxy.

<p>The actual distance to the pulsar is given beneath the plot. How good was your guess at the beginning?

<p><a href="[@NEXT_PAGE_LINK]">Continue</a>

</div>
<div class="divider"></div>
<div class="right">
</div>
